.container > h2 {
    padding-top: 0.5rem;
}

.container > h2, .container > h5 {
    text-align: center;
}

.square {
    width: 180px;
    height: 180px;
    border: 1px solid;
}

.row:first-child > .square {
    border-top-style: none;
}

.row > .square:first-child {
    border-left-style: none;
}

.row > .square:last-child {
    border-right-style: none;
}

.row:last-child > .square {
    border-bottom-style: none;
}

.square > span {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-lightred {
    background-color: lightcoral;
}

#btnShowModal {
    visibility: hidden;
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-footer {
    border-top: none;
}

.modal-body > p {
    margin-bottom: 0.5em;
}

.modal-body > p:last-child {
    margin-bottom: 0;
}

/** Versión móvil **/
@media (max-width: 600px) {
    .square {
        width: 90px;
        height: 90px;
    }

    .square > span {
        font-size: 40px;
    }
}